{% extends "base.html" %}

{% block title %}{{ super() }}About ESL-Helper{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="page-header">
        <h1>ESL Helper</h1>
    </div>
</div>


{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container">
            {% for category, message in messages %}
                <p>
                
                <div class="alert alert-{{category}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>
                        {% if category == 'info' %}
                            Information:
                        {% elif category == 'danger' %}
                            ERROR:
                        {% elif category == 'success' %}
                            Success:
                        {% else %}
                            {{category}}
                        {% endif %}
                    </strong>
                        
                    <br>{{ message }}
            {% endfor %}
                
                </div>
                </p>
        </div>
        {% endif %}
{% endwith %}

<div class="container">

    <h3>About Auto-Worksheet</h3>
    <br/>
    <p>Auto-Worksheet is a portfolio project built in Python using the Flask framework.</p>
    <p>Initial article scraping is done using Selenium<br/>
        Selenium is able to scrape dynamically loaded content, at the cost of speed.<br/>
        The remaining scraping is done with BS4.<br/>
        The worksheet is assembled with Python-DOCX.
    </p>
    <hr>
    <h4>About the Creator</h4>
    <br/>
    <p>Tobias S is an ESL teacher who currently lives in South Korea, near Hanam, east of Seoul.</p>
    <p>He is currently developing Python applications in his spare time, but is looking to move into the programming industry soon.</p>
    <p>He has an M.A in Animation and a B.A in Multimedia</p>
    <p>He has been teaching in Korea for 5 years, and is now married.</p>
    <p>He likes 80's and 90's video games, coffee, and long walks outdoors.</p>
    <hr>
    <h4>Other Projects</h4>
    <br/>
    <p>
        <ul>
            <li><a href="https://drive.google.com/file/d/1MMmEvDAfYslYlJCXD2BGay4CZee9Mat1/view?usp=sharing">ESL-Helper</a>: A discord bot for ESL tutors. It posts definitions into the chat, and it can save the chat history as .docx for notes.</li>
            <li><a href="https://github.com/BruceJi7">Tobias S on Github</a>: Other miscellaneous projects written in Python.</li>
        </ul>
    </p>



</div>
<div style="padding-bottom: 5vh;"></div>
{% endblock %}