{% extends "base.html" %}

{% block title %}{{ super() }}Choose The Article{% endblock %}

{% block content %}
{{ super() }}


{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container">
            {% for category, message in messages %}
                <p>
                
                    <div class="alert alert-{{category}}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <strong>
                            {% if category == 'info' %}
                                Information:
                            {% elif category == 'danger' %}
                                ERROR:
                            {% elif category == 'success' %}
                                Success:
                            {% else %}
                                {{category}}
                            {% endif %}
                        </strong>
                            
                        <br>{{ message }}
                
                    
                    </div>
                </p>
            {% endfor %}
        </div>
        {% endif %}
{% endwith %}

<div class="container" style="padding-bottom: 10vh;">
    <h3 class="blue-title">Choose an Article:</h3>

    {% if chosen_terms %}
        <p>CNN articles about: <span style="font-weight:bold;">{{chosen_terms}}</span></p>
        <p>We recommend reading the article, and if you like it, select it and get your worksheet.</p>
    {% endif %}


    {% if articles %}
    <form id="select-article" method="POST" onsubmit="return submitAndWait();">
        <div>
            <div style="width:inherit; padding:10px;text-align: center;">
                <button id="submit_article" type="submit" name="submitted_article" formmethod="POST">Submit Chosen Article</button>
            </div>
                <div class="article-container">
                    {% for art in articles %}
                    <div class="article-unit-container">
                        <div class="article-unit">
                            <div class="article-title">{{art.title}}</div>
                            <div class="article-description">{{art.description}}</div>
                            <div class="article-url"><a href={{art.url}}>Read the article</a></div>
                        </div>
                    </div>
                        <!-- <p><input type="radio" name="user_selected_article" value="{{art.url}}%{{art.title}}"><a class='article-link' href={{art.url}}>{{art.title}}</a></p> -->
                    {% endfor %}
                </div>

                <!-- <input type="submit" name="submit_article" value="Make My Worksheet!">
                <input type="button" name="submit_article" onclick="selectAndWait()" value="Make My Worksheet!"> -->

        </div>
    </form>
    {% endif %}


    <script>
        function submitAndWait() {
            const selected_article = document.querySelector(".selected-article")
            const article_title = selected_article.querySelector('.article-title').textContent
            const article_url = selected_article.querySelector('a').getAttribute('href')

            const submission = [article_url, article_title]
            const submission_button_value = submission.join('%')
            console.log(submission_button_value)
            
            const button = document.querySelector("#submit_article")
            button.value = submission_button_value
            document.querySelector("#select-article").submit();
            
            document.querySelector("#loading-overlay").style.display = "block";

        }

        function selectWords() {
            const artContainer = document.querySelector('.article-container');
            const artUnits = document.querySelectorAll('.article-unit');
            function clickedCell(e){
                let cell = e.target

                // Move up a level if the child cells were clicked
                while (!cell.classList.contains('article-unit')) {
                    cell = cell.parentNode
                    };

                console.log(cell)


                if (cell.classList.contains('article-unit')){ // Prevent selection of overall container :F
                        // Deselect all cells
                        for (i = 0; i < artUnits.length; i++) {
                            unit = artUnits[i];
                            unit.classList.remove("selected-article")
                        };
                        // Select only selected cell
                        cell.classList.add("selected-article");



                } else {
                    console.log('User selected container by mistake')
                }


            }
            artContainer.addEventListener('click', clickedCell);
        };
        selectWords();
    </script>
</div>

{% endblock %}