{% extends "foundation.html" %}

{% block title %}Auto-Worksheet - {% endblock %}

{% block navbar %}

<nav class="bar">
    <div class="navbar">
        <ul class="nav-list">
        
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>

        </ul>
    </div>
    

</nav>
{% endblock %}


{% block content %}
<div class="doc-overlay" id="loading-overlay">
    <div class="doc-container">
        <div class="doc-page">
            <div class="doc-line"></div>
            <div class="doc-line"></div>
            <div class="doc-line"></div>
            <div class="doc-line"></div>
            <div class="doc-line"></div>
            <div class="doc-line"></div>
            <div class="doc-line"></div>
        </div>        
        <div class="doc-page" id="index-anim">
            <div class="doc-line"></div>
            <div class="doc-line"></div>
            <div class="doc-line"></div>
            <div class="doc-line"></div>
            <div class="doc-line"></div>
            <div class="doc-line"></div>
            <div class="doc-line"></div>
        </div>
    </div>
</div>

<div class="head-logo">
    <img src="./static/ESL-auto_header.png">
</div>



{% endblock %}



