{% extends "bootstrap/base.html" %}

{% block title %}Auto-Worksheet - {% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- To make sick stuff like dropdowns here we can't use li -->
                <!-- Alternatively put a sub menu on each page -->

            </ul>
            
        </div>
        {% block subnav %}
        {% endblock %}
    </div>
</div>
{% endblock %}




{% block content %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

