{% extends "base.html" %}

{% block title %}{{ super() }}Begin Here{% endblock %}

{% block content %}
{{ super() }}



{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container">
            {% for category, message in messages %}
                <p>
                
                <div class="alert alert-{{category}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>
                        {% if category == 'info' %}
                            Information:
                        {% elif category == 'danger' %}
                            ERROR:
                        {% elif category == 'success' %}
                            Success:
                        {% else %}
                            {{category}}
                        {% endif %}
                    </strong>
                        
                    <br>{{ message }}
            {% endfor %}
                
                </div>
                </p>
        </div>
        {% endif %}
{% endwith %}

<div class="container">

    <h3 class="blue-title">Get Started:</h3>

    <p>
        Generate a discussion worksheet based on CNN articles, complete with basic discussion and comprehension questions!
    </p>
        <form id="CNN-search-terms" method='POST' style="padding:20px;">
            <input name="user_search_terms" style='width:500px;'>
            <input type="button" onclick="submitAndWait()" value="Search!">
        </form>
    <!-- </p> -->
</div>
<div class="container">
        <h3 class="blue-title">How To Use:</h3>
        <p>
            <ol>
                <li>Enter in a topic and find articles using CNN's google-powered search</li>
                <li>Choose an article - use the links to check out the articles on CNN's site!</li>
                <li>Select up to 20 vocabulary words to be listed with dictionary definitions in the worksheet.</li>
                <li>Download your worksheet!</li>
                <li>Add your own tailored questions using the template questions, print, and go!</li>
            </ol>
        </p>
        <h3 class="blue-title">Working With The Sheet:</h3>
        <p>
            The ESL Auto Worksheet comes with fill-in-the-blank comprehension questions, as well as some general debate-style questions
            for students to get talking.
            <br/>
            Confident teachers, or teachers looking for a quick filler activity, may use the sheet as-is, but we recommend the user to check over the article before 
            using it in a class.<br/>
            Consider cutting paragraphs out of the article to make it shorter, removing excess definitions for words, and adding your own more specific comprehension and discussion questions.
            The sheet includes template questions to get you started - fill in the questions and answers using the article in the sheet.
        </p>
        <p>
            Consider asking students to take turn reading. Alternatively, tell students they can read between three and five lines.<br/>
            Students can circle new vocabulary and sentence structures, too. 
        </p>
        <p>
            For a more reading-based sheet, consider adding multiple choice questions based on vocabulary and comprehension.
            For a more discussion-based sheet, ask students their for anecdotes and opinions on specific parts of the article.<br/>
            Students could make arguments to convince someone in the article to change their mind.
        </p>
   
    
    <script>
        function submitAndWait() {
            document.querySelector("#CNN-search-terms").submit();

            const overlay = document.querySelector("#loading-overlay");
            
            overlay.style.display = "block";
            overlay.style.visibility = 'visible';
        
        }
    </script>
</div>
{% endblock %}