{% extends "base.html" %}

{% block title %}{{ super() }}Your Sheet{% endblock %}

{% block content %}
{{ super() }}

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container">
            {% for category, message in messages %}
                <p>
                
                <div class="alert alert-{{category}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>
                        {% if category == 'info' %}
                            Information:
                        {% elif category == 'danger' %}
                            ERROR:
                        {% elif category == 'success' %}
                            Success:
                        {% else %}
                            {{category.capitalize()}}
                        {% endif %}
                    </strong>
                        
                    <br>{{ message }}
            {% endfor %}
                
                </div>
                </p>
        </div>
        {% endif %}
{% endwith %}

<div class="container">
    <h3 class="blue-title">Download Your Sheet:</h3>

    {% if downLink %}
        <p><a href="{{ url_for('main.download_file', filename=downLink) }}">Download your worksheet here!</a></p>
    {% endif %}
    <h4 class="blue-title">Before Using the Sheet:</h4>
    <p></p>
    <p>Always check over the sheet before using it!</p>
    <p>Whilst it is possible to use the sheet as-is, we recommend removing excess definitions for words, and shortening the article to match your students' capabilities.</p>
    <p>To be safe, the sheet includes a fill-in-the-blank question for each of the paragraphs. We recommend you cut this down to four questions.</p>
    <p>The sheet works best if you add additional, tailored questions to it. Use the template questions in the sheet or make your own!</p>


</div>
{% endblock %}