{% extends "base.html" %}

{% block title %}{{ super() }}Choose The Article{% endblock %}

{% block content %}
{{ super() }}
 

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container">
            {% for category, message in messages %}
                <p>
                
                <div class="alert alert-{{category}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>
                        {% if category == 'info' %}
                            Information:
                        {% elif category == 'danger' %}
                            ERROR:
                        {% elif category == 'success' %}
                            Success:
                        {% else %}
                            {{category}}
                        {% endif %}
                    </strong>
                        
                    <br>{{ message }}
            {% endfor %}
                
                </div>
                </p>
        </div>
        {% endif %}
{% endwith %}

<div class="container" style="padding-bottom: 10vh;">
    <h3 class="blue-title">Select Vocab Words:</h3>

    {% if words %}
        <div style="display: flex; justify-content: center;">
            <form id="select-words" method="POST" onsubmit="return getWordsFromCells();">
                <div style="width:inherit; padding:10px;text-align: center;">
                        
                        <input type="button" name="randomize_words" onclick="selectRandomCells()" value="Select Random Words">
                        <input type="number" id="howManyRandomWords" min='1' max="20" value="6">
                        <button id="submit_words" type="submit" name="submitted_words" formmethod="POST">Submit Chosen Words</button>
                </div>
                <div class="word-selection-container">

                    {% for word in words %}
                        <div class="selectable-word">{{word}}</div>
                    {% endfor %}
                
                </div>
        
            </form>
            
        </div>
    {% endif %}


    <script>
        function selectWords() {
            const wordContainer = document.querySelector('.word-selection-container');

            function clickedCell(e){
                let cell = e.target



                if (cell.classList.contains('selectable-word')){ // Prevent selection of overall container :F


                        if (cell.classList.contains('selected')){ // if it's selected
                                cell.classList.remove("selected") //deselect the word
                                console.log('Deselecting ' + cell.innerText)
                        } else if (!cell.classList.contains("selected")){ // If it's not selected
                                cell.classList.add("selected") // select it
                                console.log('Selecting ' + cell.innerText)
                        }


                } else {
                    console.log('User selected container by mistake')
                }


            } //func


            wordContainer.addEventListener('click', clickedCell);
        };
        selectWords();

        function generateRandomIndexes(howMany) {
            const randomCap = document.querySelectorAll(".selectable-word").length
            let arr = [];
            while(arr.length < howMany){
                let r = Math.floor(Math.random() * randomCap);
                if(arr.indexOf(r) === -1) arr.push(r);
            }
            console.log(arr);
            return arr
        };
        function selectRandomCells() {
            const userWordQuant = document.querySelector("#howManyRandomWords").value
            const selectable_words = document.querySelectorAll(".selectable-word")
            const randomWordIndexes = generateRandomIndexes(userWordQuant)
            console.log('User wants' + userWordQuant + ' words.')
            console.log(userWordQuant)

            for (i = 0; i < selectable_words.length; i++ ) {
                word = selectable_words[i]

                // If that index isn't in the list
                if (randomWordIndexes.indexOf(i) === -1) {
                    
                    if (word.classList.contains('selected')){ // if it's selected
                        word.classList.remove("selected") //deselect the word
                    };
                
                // If the word index IS in the list (please select)
                } else { 
                    if (!word.classList.contains("selected")){ // If it's not selected
                        word.classList.add("selected") // select it
                    }

                };
            };

        };
    
        function getWordsFromCells() {
            var cells = document.querySelectorAll('.selected')
            console.log('Found the following cells:')
            console.log(cells)

            // If there were no cells selected
            if (cells.length <= 1){ // 1 is used here to prevent the stupid 'all the words is one word' bug - not ideal but a user is unlikely to pick one word only.
                if (cells.length == 1){
                    console.log('Prevention of stupid long one word bug activated')
                }
                console.log('The user left the cells blank');
                selectRandomCells();
                var cells = document.querySelectorAll('.selected');
                console.log('The following words were selected:')
                console.log(cells)
            };

            let chosenWords = []

            for (i=0; i < cells.length; i++) {
                let word = cells[i].innerText
                console.log('Selecting the following word:')
                console.log(word)
                chosenWords.push(word)
            };

            // Join words for Flask to read
            console.log('Joining words...')
            let wordString = chosenWords.join('#')
            console.log(wordString)

            //Apply wordstring to button value
            const button = document.querySelector("#submit_words")
            button.value = wordString
            
            // Apply waiting overlay
            document.querySelector("#loading-overlay").style.display = "block";
        }
    </script>
</div>

{% endblock %}